.container{
    background-color: red;
    width: 20vw;
    height: 50vh;
    margin: auto;
    margin-top: 100px;
    border-radius: 5%;
    text-align: center;
    padding-top: 30px;
}
.a{
    color:white;
    font-size: 25px;
    text-align: center;
    margin: 20px;
    
    
}
.b{
    background-color: white;
    height: 5vh;
    width:15vw;
    border-radius: 5%;
 
    
    
 
}
button{
    background-color: turquoise;
    margin-top: 2rem;
    border-radius: 5%;
    width: 8vw;
    height: 4vh;
    font-size: 15px;
    font-weight: bold;
    text-align: center;

}
button:hover{
    margin-top: 1.8rem;
    width: 52%;
    height: 2.5rem;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    background-color: #fcfcfc;
    color: #79bd88
}
body{
    background-image: url("background.png");
   
 
}